

/*

blue-main: #dc0000
blue-dark: #C71714
blue-light: #FF5036
dark-grey: #312f2f

text main: #777
text on black: #cccccc

*/

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alumni Sans';
    font-weight: 400;
    letter-spacing: 1px;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    line-height: 1.7;
    height: 100vh;
    color: #777;
    display: flex;
    flex-direction: column;
}

i {
    margin: .5rem;
}

section {
    height: 50vh;
}

span {
    font-size: 2rem;
    letter-spacing: 1px;
}

a, a:link, a:visited {
    text-decoration: none;
}

h2 {
    font-size: 6rem;
}  

p {
    font-size: 2.5rem;
}

.button, .button:link, .button:visited {
    background-color: #dc0000;
    text-transform: uppercase;
    padding: 4px 8px 4px 8px;
    color: #fff;
    border-radius: 3px;
    margin: 3px 3px;
    transition: background-color .2s;
}

.button:hover {
    background-color: #C71714;
}

.subheader {
    padding: 0.5rem 0;
    height: 5rem;
    background-color: #312f2f;
    position: fixed;
    margin-top: 0;
    min-width: 100%;
    z-index: 4000;
}

.subheader .container {
    font-size: 1.6rem;
    color: #cccccc;
}

.container__subheader {
    height: 100%;
}

.col-text-center {
    text-align: center;
}

.col-text-center a, .col-text-center a:link, .col-text-center a:visited {
    text-decoration: none;
    color: #ccc;
}

.col-text-left {
    text-align: end;
}

.menu {
    margin-top: 5rem;
    height: 10rem;
    background-color: #0a0a0a;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    height: 9rem;
    width: 17.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: auto;
}

.menu-logo, .menu-logo:link, .menu-logo:visited {
    text-decoration: none;
    height: 100%;
}

.logo-text {
    color: #dc0000;
    font-size: 4rem;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;
}

.menu-list {
    height: 100%;
    margin-bottom: 0;
}

.menu ul {
    list-style: none;
    display: block;
    color: #ccc;
    font-size: 2.5rem;
    margin-left: auto;
}

.menu ul li {
    display: inline-block;
    height: 100%;
    transition: all .2s;
    text-align: center;
}

.menu ul li:hover {
    background-color: #dc0000;
    color: #fff;
}

.menu-item a, .menu-item a:link, .menu-item a:visited {
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
}

.slide {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    margin: auto;
    color: #ccc;
    padding: 2rem;
}

.headline {
    font-size: 6rem;
}

.make-form {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 10rem;
}

.headline_attention {
    color: #312f2f;
    margin-bottom: 1.5rem;
}

label {
    font-size: 2.5rem;
    color:#312f2f;
    padding-bottom: .75rem;
    padding-top: .75rem;
}

input {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
  }

.field__input {
    font-family: inherit; /* 1 */
    font-size: 2rem; /* 1 */
    margin: 0; /* 2 */
    color: #312f2f;
    width: 100%;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    height: calc(6rem + 2px);
    font-size: 2rem;
    background-clip: padding-box;
    border: 1px solid #777;
    border-radius: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #312f2f;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.field__input::placeholder {
    color: #777;
    opacity: 0.4;
}

.form-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
}

.form-card__content {
    width: 35%;
    text-align: center;
}

.form-button, .form-button:link, .form-button:visited {
    width: 15%;
    height: 6rem;
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 2rem;
    padding: 1.4rem 0;
    border-radius: 6px;
}

.form-button a {
    margin: 3rem;

}

.asf {
    height: 15rem;
}

.make-form__car-makes {
    width: 68%;
    margin: 7rem auto 7rem auto;
    height: fit-content;
}

.make-form__background {
    background-image: url(../images/car-makes.gif);
    width: 55%;
    margin: 7rem auto 7rem auto;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service-section {
    height: fit-content;
    background-color: #312f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    padding: 3rem 2rem;
}

.simple-card {
    width: 25%;
    height: fit-content;
    margin: 3rem 2.5rem;
    background-color: rgba(000, 000, 000, 0.3);
    border-radius: 8px;
    text-align: center;
    padding: 3rem 1rem;
    color: #cccccc;
}

.simple-card p {
    font-size: 2rem;
    font-weight: 600;
}

.simple-card h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #dc0000;
}

.flexbox-section {
    height: fit-content;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10rem 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #312f2f;
    color: #ccc;
    margin-top: auto;
}

.footer__content {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.footer__content a, .footer__content a:link, .footer__content a:visited {
    color: #ccc;
}

.footer__section {
    width: 25%;
    margin: 3rem 2.5rem;
    padding: 3rem 1rem;
    text-align: center;
}

.footer__section .footer__header {
    width: 100%;
    border-bottom: 2px #dc0000;
    border-bottom-style: dotted;
}

.footer__line {
    font-size: 2rem;
    width: 100%;
    border-bottom: 1px #ccc;
    border-bottom-style: dotted;
}

.footer__icon {
    font-size: 2.3rem;
}

.workflow-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    padding: 0 2rem;
    text-align: center;
}

.workflow-section h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #dc0000;
}

.workflow-section p {
    font-size: 2rem;
    font-weight: 600;
}

.flex2row {
    margin: 3rem 2.5rem;
    padding: 3rem 1rem;
    width: 45%;
}

.workflow-section .image {
    width: 100%;
    display: block;
    box-shadow: 10px 10px 5px #ccc;
    border-radius: 4px;
}

.galleria{ 
    width: 100%; height: 100%; background: #fff
}

.portfolio {
    padding: 1px;
}

.flexbox-section:not(:nth-last-of-type(1)) .portfolio-section {
    border-bottom: solid 1px #000;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 2.5rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #000;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000;
}

.contacts-card {
    border: 4px solid #dc0000;
    border-radius: 6px;
    width: 30%;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .contacts-card:last-child {
    margin-right: 0;
  }
  .contacts-card h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #dc0000;
  }
